/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poiret+One&amily=Nanum+Gothic&display=swap');

body {
    background-color: BurlyWood;
}

a:hover {
    background-color: burlywood
}

/* parallax */

.intro {
    font-family: Didot sans-serif;
    font-size: 70px;
    color: #bccad6;
    text-align: center;
}

.footer-container {
    background-color: #667292;
    font-family: Didot sans-serif;
    padding-top: 10px;
    font-size: 30px;
    color: #bccad6;
    text-align: center;
}

.footer-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.parallax1 {
  background-image: url('/images/proj_man.jpg');
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('/images/proj_man_pic.jpg');
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url('/images/proj_man_table.png');
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background-image: url('/images/Edara.png');
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background-image: url('/images/proj_teamwork.jpg');
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-divs {
    border: 7px inset sandybrown;
    border-radius: .5em;
    font-family: 'Roboto';
    color: white;
    padding: 15px;
    font-size: 20px;
    background-image: radial-gradient(navajowhite, burlywood, sandybrown);
}

#splash-start {
    margin-top: 10px;
    background-image: radial-gradient(navajowhite, burlywood, sandybrown);
}

/* #splash-middle {
    background-image: radial-gradient(navajowhite, burlywood, sandybrown);
}

#splash-middles {
    background-image: radial-gradient(navajowhite, burlywood, sandybrown);
}

#splash-middle3 {
    background-image: radial-gradient(navajowhite, burlywood, sandybrown);
}

#splash-end {
    background-image: radial-gradient(navajowhite, burlywood, sandybrown);
} */
